<body>
    <form class="cadastro">       
        <h2>Criar conta</h2>
        <div class="social-media">
            <a href="inicio">
                <img src="./assets/img/gmail.png" alt="Google">
            </a>
            <a href="inicio">
                <img src="./assets/img/facebook.png" alt="Facebook">
            </a>
            <a href="inicio">
                <img src="./assets/img/linkedin.png" alt="Linkedin">
            </a>
        </div>
        <div class="alternative">
            <span>OU</span>
        </div>
        <div class="box-user">
            <input type="text" placeholder="." required>
            <label>Nome</label>
        </div>
        <div class="box-user">
            <input type="email" placeholder="." required>
            <label>E-mail</label>
        </div>
        <div class="box-user">
            <input type="password" placeholder="." required>
            <label>Senha</label>
        </div>
        <a href="inicio" class="btn" onclick="cadastro()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Cadastrar 
        </a>
        <div>
            <a href="login" class="return">Já possui uma conta? Entre...</a>
        </div>
    </form>
</body>