<body>
    <form class="login">
        <h2>Login</h2>
        <div class="box-user">
            <input type="text" placeholder="." required>
            <label>Usuário</label>
        </div>
        <div class="box-user">
            <input type="password" placeholder="." required>
            <label>Senha</label>
        </div>
        <div>
            <a href="cadastro" class="forget">Esqueceu a senha?</a>
        </div>
        <a href="inicio" class="btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Entrar
        </a>
        <div>
            <a href="cadastro" class="register">Ainda não é cadastrado? Cadastre-se...</a>
        </div>
    </form>
</body>