<mat-toolbar class="header">
    <a routerLink="inicio"><img src="./assets/img/Logotipo.png"></a>
    <nav class="navbar">
        <a routerLink="inicio">início</a>
        <a routerLink="novidades">novidades</a>
        <a routerLink="destaques">destaques</a>
        <a routerLink="produtos">produtos</a>
        <a routerLink="contato">contato</a>
        <a routerLink="login">login</a>
    </nav>
    <div class="icons">
        <mat-icon>search</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
        <div class="fas fa-question" id="question-btn"></div>
    </div>
</mat-toolbar>