/* Início */
.inicio {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./banner.png) no-repeat;
    background-size: cover;
    background-position: center;
}
.inicio .content {
    max-width: 60rem;
}
.inicio .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.inicio .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.2;
    padding: 1rem 0;
    color: #eee;
    text-transform: none;
}

/* Novidades */
.novidades .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}
.novidades .row .image {
    flex: 1 1 45rem;
}
.novidades .row .image img {
    width: 100%;
}
.novidades .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}
.novidades .row .content h3 {
    font-size: 3rem;
    color: #fff;
    text-transform: none;
}
.novidades .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
    text-transform: none;
}
.novidades .row .content h3 span {
    color: mediumaquamarine;
    text-decoration: underline;
}

/* Destaques */
.destaques div {
    display: flex !important; 
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    background: var(--black);
    text-align: center;
}
.destaques div .box-container {
    width: 33%;
    background: var(--black);
    align-items: center;
    padding: 2rem;
}
.destaques .box-container .box {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.destaques .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
.destaques .box-container .box img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.destaques .box-container .box:hover .image img {
    transform: scale(1.1);
}
.destaques .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.destaques .box-container .box p {
    color: #ccc;
    font-size: 1.5rem;
}
.destaques .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
    background: none;
}
.destaques .box-container .box a {
    text-transform: none;
}
.destaques .box-container .box:hover {
    background: #fff;
}
.destaques .box-container .box:hover > * {
    color: var(--black);
}

/* Produtos */
.produtos mat-grid-list .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
    background: var(--black);
    flex-wrap: wrap;
}
.produtos .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}
.produtos .box-container .box .icons mat-icon {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}
.produtos .box-container .box .icons mat-icon:hover {
    background: var(--main-color);
}
.produtos .box-container .box .image {
    padding: 2.5rem 0;
}
.produtos .box-container .box .image img {
    height: 25rem;
}
.produtos .box-container .box:hover .image img {
    transform: scale(.9);
}
.produtos .box-container .box .content h3 {
    color: #fff;
    font-size: 2.1rem;
}
.produtos .box-container .box .content .stars {
    padding: 1.5rem;
}
.produtos .box-container .box .content .stars mat-icon {
    font-size: 1.7rem;
    color: #d3ad7f;
}
.produtos .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
}
.produtos .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
    color: rgba(246, 65, 65, 0.874);
}

/* Página de contato */
.contato .container {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}
.contato .container .contactInfo {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 10rem 13rem;
}
.contato .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contato .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.contato .container .contactInfo .box .icon:hover{
    background: var(--main-color);
}
.contato .container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contato .container .contactInfo .box .text h3 {
    text-transform: none;
    font-weight: 500;
    color: var(--main-color);
}
.contato .container .contactInfo .box .text p {
    text-transform: none;
}
.contato .container form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contato .container form h3 {
    font-size: 3.5rem;
    color: #ccc;
    margin-right: 10rem;
    text-transform: none;
}
.contato .container form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 10rem;
    background: var(--bg);
    border: var(--border);
}
.contato .container form .inputBox span {
    color: #ccc;
    font-size: 2rem;
    padding-left: 2rem;
}
.contato .container form .inputBox input, textarea {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.contato .container form .btn {
    margin-right: 10.3rem;
    text-transform: uppercase;
}

.btn {
    background: var(--main-color);
}
