<section class="inicio" id="inicio">
    <div class="content">
        <h3>bem-vindo à eletric zone</h3>
        <p>Explore, aprenda, divirta-se e mergulhe em um mundo onde a diversão e a tecnologia se encontram. 
            Prepare-se para embarcar em uma jornada emocionante.
            Descubra o que há de melhor em jogos e eletrônicos conosco!
        </p>
        <a href="#" class="btn">saiba mais</a>
    </div>
</section>

<section class="novidades" id="novidades">
    <h1 class="heading"> nossas <span>novidades</span> </h1>
    <mat-grid-list cols="2">
        <div class="row">
            <div class="image">
                <img src="./assets/img/oculos vr.jpeg" alt="about-img">
            </div>
            <div class="content">
                <h3>Já ouviu falar em <span>realidade virtual?</span> </h3>
                <p>Realidade virtual é uma tecnologia de interface entre o usuário e 
                    um sistema operacional através de recursos gráficos, cujo objetivo é 
                    criar a sensação de presença dentro do ambiente virtual. A interação é
                    realizada em tempo real,<br>com o uso de equipamentos que auxiliam na imersão.
                </p>
                <p>Os óculos de realidade virtual utilizam lentes especiais e sensores 
                    para transportar os usuários até mundos virtuais interativos.<br>
                Venha conferir!
                </p>
                <a href="#" class="btn">saiba mais</a>
            </div>
        </div>
    </mat-grid-list>
</section>

 <section class="destaques" id="destaques">
    <h1 class="heading"> mais <span>vendidos</span> </h1>
    <div cols="3">
        <div class="box-container" *ngFor="let produto of produtos">
            <div class="box">
                <div class="image">
                    <img src="./assets/img/{{produto.foto}}" alt="Jogo 1">
                </div>
                <h3>{{produto.produto}}</h3>
                <p>{{produto.descricao}}</p>
                <div class="price">{{produto.preco | currency : 'BRL'}}</div>
                <a href="#" class="btn">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
 </section>

<section class="produtos" id="produtos">
    <h1 class="heading"> nossos <span>produtos</span> </h1>
    <mat-grid-list cols="3">
        <div class="box-container">
            <div class="box">
                <div class="icons">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite</mat-icon>
                    <mat-icon>visibility</mat-icon>
                </div>
                <div class="image">
                    <img src="./assets/img/pc.avif" alt="product-1">
                </div>
                <div class="content">
                    <h3>pc gamer alienware aurora R15</h3>
                    <div class="stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div class="price">R$17.698,00 <span>R$19.848,00</span></div>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite</mat-icon>
                    <mat-icon>visibility</mat-icon>
                </div>
                <div class="image">
                    <img src="./assets/img/headphone.png" alt="product-2">
                </div>
                <div class="content">
                    <h3>headphone jbl quantum one</h3>
                    <div class="stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div class="price">R$649,00 <span>R$1.999,00</span></div>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite</mat-icon>
                    <mat-icon>visibility</mat-icon>
                </div>
                <div class="image">
                    <img src="./assets/img/xbox.webp" alt="product-3">
                </div>
                <div class="content">
                    <h3>xbox one s 1tb</h3>
                    <div class="stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div class="price">R$2.749,90 <span>R$3.599,99</span></div>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite</mat-icon>
                    <mat-icon>visibility</mat-icon>
                </div>
                <div class="image">
                    <img src="./assets/img/smartphone.avif" alt="product-4">
                </div>
                <div class="content">
                    <h3>galaxy s23 5g</h3>
                    <div class="stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div class="price">R$4.949,10 <span>R$5.499,00</span></div>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite</mat-icon>
                    <mat-icon>visibility</mat-icon>
                </div>
                <div class="image">
                    <img src="./assets/img/tablet.avif" alt="product-5">
                </div>
                <div class="content">
                    <h3>galaxy tab s9+</h3>
                    <div class="stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div class="price">R$7.199,10 <span>R$7.999,00</span></div>
                </div>
            </div>
            <div class="box">
                <div class="icons">
                    <mat-icon>shopping_cart</mat-icon>
                    <mat-icon>favorite</mat-icon>
                    <mat-icon>visibility</mat-icon>
                </div>
                <div class="image">
                    <img src="./assets/img/notebook.avif" alt="product-6">
                </div>
                <div class="content">
                    <h3>galaxy book 2</h3>
                    <div class="stars">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_half</mat-icon>
                    </div>
                    <div class="price">R$3.599,10 <span>R$3.999,00</span></div>
                </div>
            </div>
        </div>
    </mat-grid-list>
</section>

<section class="contato" id="contato">
    <h1 class="heading"> <span>contate</span> - nos </h1>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><mat-icon>map</mat-icon></div>
                <div class="text">
                    <h3>Endereço</h3>
                    <p>Avenida Paulista, Bela Vista - SP<br>CEP 01310-100</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><mat-icon>call</mat-icon></div>
                <div class="text">
                    <h3>Telefone</h3>
                    <p>+55 11 9999-9999</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><mat-icon>email</mat-icon></div>
                <div class="text">
                    <h3>E-mail</h3>
                    <p>contato.eletriczone@gmail.com</p>
                </div>
            </div>
        </div>
        <form action="">
            <h3>Central de Atendimento</h3>
            <div class="inputBox">
                <span class="fa fa-user"></span>
                <input matInput type="text" placeholder="nome">
            </div>
            <div class="inputBox">
                <span class="fa fa-envelope"></span>
                <input matInput type="email" placeholder="e-mail">
            </div>
            <div class="inputBox">
                <textarea matInput required="required" placeholder="Escreva a sua mensagem..."></textarea>
            </div>
            <input type="submit" value="enviar" class="btn">
        </form>
    </div>
</section>